

.header{
    background: linear-gradient(#000033, white);
    height: 1000px;
}


body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #777; 
	font: 400 1rem/1.75rem "Open Sans", sans-serif;
}

.p-large {
	font: 600 1.300rem/1.875rem "Open Sans", sans-serif;
}

.p-small {
	font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

h1 {
	color: #333;
	font: 700 2.625rem/3.375rem "Open Sans", sans-serif;
}

h2 {
	color: #333;
	font: 700 2.125rem/2.75rem "Open Sans", sans-serif;
}

h3 {
	color: #333;
	font: 700 1.75rem/2.375rem "Open Sans", sans-serif;
}

h4 {
	color: #333;
	font: 700 1.25rem/1.75rem "Open Sans", sans-serif;
}

h5 {
	color: #333;
	font: 700 1.125rem/1.625rem "Open Sans", sans-serif;
}

h6 {
	color: #333;
	font: 700 1rem/1.5rem "Open Sans", sans-serif;
}


.btn-solid-reg:hover {
	border: 0.125rem solid #ff556e;
	background-color: transparent;
	color: #ff556e;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.375rem 1.5rem 2.375rem;
	border: 0.125rem solid #ff556e;
	border-radius: 2rem;
	background-color: #ff556e;
	color: #fff;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 0.125rem solid #ff556e;
	background-color: transparent;
	color: #ff556e;
	text-decoration: none;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1rem;
}


.form-control-submit-button:hover {
	border: 0.125rem solid #ff556e;
	background-color: transparent;
	color: #ff556e;
}

/* Form Success And Error Message Formatting */
#pmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #ff556e;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1rem;
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}


/*********************/
/*    04. Header     */
/*********************/
.header {
	position: relative;
	overflow: hidden;
	padding-top: 8rem;
	padding-bottom: 3rem;
	background-color: #f7fafd;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 1rem;
}

.header .p-heading {
	margin-bottom: 2rem;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	margin-left: 0.5rem;
}

.header .deco-white-circle-1,
.header .deco-white-circle-2,
.header .deco-blue-circle,
.header .deco-yellow-circle,
.header .deco-green-diamond {
	display: none;
}

/*****************************/
/*     06. Description 1     */
/*****************************/
.basic-1 {
	padding-top: 3rem;
	padding-bottom: 8rem;
	background-color: #f7fafd;
}

.basic-1 .image-container {
	margin-bottom: 5rem;
}

.basic-1 h2 {
	margin-bottom: 1.5rem;
}

.basic-1 .list-unstyled {
	margin-bottom: 1.75rem;
}

.basic-1 .list-unstyled .fas {
	color: #777;
	font-size: 0.5rem;
	line-height: 1.75rem;
}

.basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}